<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <title>Filters Easy</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1 class="title">Colors</h1>
            <ul class="list">
                <li data-id="all" class="list__item active">All</li>
                <li data-id="purple" class="list__item">Purple</li>
                <li data-id="yellow" class="list__item">Yellow</li>
                <li data-id="red" class="list__item">Red</li>
                <li data-id="green" class="list__item">Green</li>
            </ul>
            <div class="blocks">
                <div class="blocks__row">
                    <div class="blocks__item yellow">Yellow</div>
                    <div class="blocks__item red">Red</div>
                    <div class="blocks__item purple">Purple</div>
                    <div class="blocks__item green">Green</div>
                </div>
                <div class="blocks__row">
                    <div class="blocks__item green">Green</div>
                    <div class="blocks__item yellow">Yellow</div>
                    <div class="blocks__item purple">Purple</div>
                    <div class="blocks__item red">Red</div>
                </div>
                <div class="blocks__row">
                    <div class="blocks__item red">Red</div>
                    <div class="blocks__item green">Green</div>
                    <div class="blocks__item yellow">Yellow</div>
                    <div class="blocks__item purple">Purple</div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="./script.js"></script>
</body>
</html>