/*? --- settings */
* {
    /* border: 1px solid rgba(0, 0, 0, .7); */
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Special Elite', cursive; */
    width: 100%;
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    width: 1190px;
    height: 92vh;
}

.heading {
    position: relative;
    padding: 3rem 0;
    font-size: 3rem;
    text-transform: capitalize;
    font-family: 'Special Elite', cursive;
}

.heading::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: 175px;
    background: url('../img/2.png');
    background-size: contain;
    transition: .5s ease-in;
}

.heading-reverse {
    position: relative;
    padding: 3rem 0;
    font-size: 3rem;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Special Elite', cursive;
}

.heading-reverse::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 59px;
    left: 175px;
    background: url('../img/2-1.png');
    background-size: contain;
    transition: .5s ease-in;
}



